.my-tooltip {
    position: relative;
    margin-top: 15%;
    display: inline-block;
  }
  
.my-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
  }
  
 .my-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    border-width: 5px;
    border-style: solid;
  }

  
  .my-tooltip:hover .my-tooltiptext {
    visibility: visible;
  }



  /* css for positioning tooltip at top */
  .t-top{
    top: -110%;
    left: 0;
    width: max-content!important;
  }
  .t-top::after{
    left: 50%;
    bottom: -10px;
    margin-left: -5px;
    border-color: black transparent transparent transparent;
  }


  /* css for positioning tooltip at bottom */
  .t-bottom{
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  .t-bottom::after{
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent black transparent;
  }

  /* css for positioning tooltip at bottom */
  .t-left{
    left: -100%;
  }
  .t-left::after{
    right: -10px;
    top: 30%;
    border-color: #0000000f transparent transparent #000000fa;
  }

  /* css for positioning tooltip at bottom */
  .t-right{
    right: -100%;
  }
  .t-right::after{
    left: -10px;
    top: 30%;
    border-color: #00000000 black transparent #00000000;
  }