/* css for body */
body{
  background: ghostwhite;
}

/* css for app component */
.App {
  text-align: center;
  margin-top: 50px;
}

/* css for button in button component */
.button{
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: dashed 2px gray;
  font-size: large;
}

/* css for h2 heading */
h2{
  color: darkcyan;
}


/* css for form div */
.form-div{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 80%;
  margin-left: 10%;
}

/* css for form label */
.form-div label{
  width: 300px;
  text-align: left;
  font-weight: 400;
  color: midnightblue;
}

